@font-face {
    font-family: 'chopin';
    src: url('/fonts/ChopinScript.otf');
}


.myBack {
    text-align: right;
    float: right;
}

.logoCSS{
    width: 200px !important;
}


.centerItems {
    text-align: left !important;
    width: 50%;

    float: left;
}

.fullWidth {
    position: absolute;
    width: 100%;
}

.mainlogo {
    width: 20% !important;
}

.bgCss {
    /* margin-top: -4%; */
    margin-left: 15%;
    width: 60%;
}

.bgFlipCss {
    width: 12%;
    margin-top: 2%;
}

/*FLIP CSS*/

.flipping-image {
    width: 12%;
    height: auto;
    overflow: hidden;
}

.flipping-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*FLIP END CSS*/


.diplomaCss {
    margin-top: 11%;
    width: 30%;
    margin-left: 43%;
}

.boxContent {
    position: absolute;
    margin-top: 10%;
    margin-left: 15%;
    text-align: left;
}

.boxContent>div {
    display: block;
    color: rgba(111, 111, 111, 0) !important;
    font-size: 1.3rem !important;
    font-weight: 500 !important;
    font-family: 'Faustina' !important;
    text-shadow: 0 !important;
}

.boxContent>span>img {
    margin-top: 15% !important;
}

.iconBox {
    width: 2.5%;
}


.chapterCss {
    color: rgba(111, 111, 111, 0) !important;
    font-size: 2rem !important;
    margin-top: 15%;
    width: 70%;
    /* font-family: 'Roboto'; */
    margin-left: 28%;
    text-shadow: 0 !important;
}

.registerNowBTN {
    position: absolute !important;
    margin-left: 48% !important;
    margin-top: 19% !important;
}

.registerNowBTN>.et_pb_button_module_wrapper>.et_pb_button {
    padding: 0.5em 0.5em !important;
    font-size: 1.5rem !important;
}

.stayFree {
    margin-top: 25%;
    width: 70%;
    margin-left: 0%;
}


body,
html,
div.marquee,
div.fade-left,
div.fade-right,
span.marquee-message {
    margin: 0;
    padding: 0;
}

div.marquee,
div.marquee2 {
    width: 100%;
    background: #ffba60;
    position: relative;
    overflow: hidden;
    height: 40px;
    /* -moz-box-shadow: 1px 1px 1px #434343; */
    /* -webkit-box-shadow: 1px 1px 1px #434343; */
    /* box-shadow: 1px 1px 1px #434343; */
}

span.marquee-message {
    color: #ffffff;
    font-family: 'Telex';
    white-space: nowrap;
    margin: 6px 0 0 0;
    display: inline-block;
}

div.fade-left {
    background: -moz-linear-gradient(left, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(12%, #ffd6a0), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(left, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(left, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(left, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    left: 0;
    height: 40px;
    width: 10%;
}

div.fade-right {
    background: -moz-linear-gradient(right, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    background: -webkit-gradient(linear, right top, right top, color-stop(12%, #ffd6a0), color-stop(100%, rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(right, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(right, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    background: -ms-linear-gradient(right, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to left, #ffd6a0 12%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    right: 0;
    height: 40px;
    width: 10%;
}

.marquee2 {
    margin-top: 23%;
}
