@media only screen and (max-device-width: 768px) {

    .mobileView {
        display: block;
    }

    .pcView,
    .hideInMobile {
        display: none;
    }

    .myBackCon {
        background: #000 !important;
    }

    #mobile_menu3 {
        /* display: block; */
        width: 40%;
        right: 0;
        margin-left: 55%;
        margin-top: 3%;
    }

    #overlay {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #0000002d;
        z-index: 1000;
        position: absolute;
        margin-top: -70%;
    }

    .mainCon {
        background: #fff !important;
    }

    .bgCss {
        z-index: inherit;
        width: 2000px;
        margin-left: 5% !important;
    }

    .diplomaCss {
        z-index: inherit;
        width: 40%;
        margin-left: 10% !important;
    }

    .marquee2 {
        z-index: 2;
        margin-top: 240px !important;
    }

    .mainText {
        font-family: 'chopin' !important;
        font-size: 3rem !important;
        color: #ffb700 !important;
        /* text-shadow: 0 0 20px #fff !important; */
    }

    .myBack {
        /* margin-top: 90px;
        width: 60% !important;
        height: 100% !important; */
        margin-top: -3px;
        width: 69% !important;
        height: 95% !important;
    }

    /* BG TEXT on the top */
    .bgCss {
        width: 70%;
        margin-left: 0% !important;
        margin-top: -42% !important;
    }


    .diplomaCss {
        width: 48%;
        margin-top: -29% !important;
        margin-left: 0% !important;
    }

    .chapterCss {
        text-shadow: none !important;
        /* font-family: 'chopin' !important; */
        color: #b3b3b3 !important;
        font-size: 0.90rem !important;
        margin-top: -21% !important;
        margin-left: -45px !important;
    }

    .clockBOX {
        background: #fff !important;
        border-radius: 20px;
    }

    .stayFree1 {
        /* display: none; */
        width: 68%;
        margin-top: -12% !important;
        margin-left: 0% !important;
    }

    .stayFree2 {
        /* display: none; */
        width: 68%;
        margin-top: -20px !important;
        margin-left: -70px !important;
    }

    table,
    th,
    thead,
    tr,
    tbody,
    td {
        border: 0 !important;
        outline: 0 !important;
        text-shadow: 0 !important;
    }

    td,
    tr,
    th {
        margin: 0 !important;
        padding: 0 !important;
    }

    .makeThisSmall {
        width: 20% !important;
    }



    .newTable>tr>td,
    th {
        padding: 0 !important;
        margin: 0 !important;
        text-shadow: 0 !important;
        box-shadow: 0 !important;
        font-size: 0.7rem !important;
    }

    .newTable>tr>th,
    td {
        padding: 0 !important;
        margin: 0 !important;
        /* padding: 6px 14px !important; */
        text-shadow: 0 !important;
        box-shadow: 0 !important;
        font-size: 0.7rem !important;
    }

    .boxContent {
        width: 50%;
        margin-top: -1% !important;
        margin-left: 2% !important;
    }

    .iconBox {
        margin-top: 17px !important;
        width: 76% !important;
    }

    .smalltxt {
        color: #fff !important;
        margin-top: 10% !important;
        text-shadow: none !important;
        font-size: 1rem !important;
        line-break: auto;
        font-family: 'Akaya Telivigala' !important;
        font-size: 0.9rem !important;
        line-height: 0.9rem !important;
    }

    .registerNowCircleBTN {

        font-family: 'Dosis', Helvetica, Arial, Lucida, sans-serif;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-shadow: 0em 0.1em 0.1em rgba(0, 0, 0, 0.4);
        background-color: #FFBA60;
        border-radius: 100px 100px 100px 100px;
        overflow: hidden;
        height: 160px;
        padding-top: 72px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;

        margin-top: 255px !important;
        margin-left: 6% !important;
        height: 100px !important;
        padding-top: 25px !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
        line-height: 1.5rem !important;
        width: 100px !important;
    }

    .registerNowCircleBTN>p {
        font-size: 1rem;
    }

}